<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBrowserChooser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoBrowserChooser.Properties.Settings>
            <setting name="LaunchAlternateForIntranet" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaunchAlternateForDomains" serializeAs="String">
                <value>microsoft.com</value>
            </setting>
            <setting name="LaunchAlternateForClickOnce" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainBrowser" serializeAs="String">
                <value>{LocalApplicationData}\Google\Chrome\Application\chrome.exe</value>
            </setting>
            <setting name="AlternateBrowser" serializeAs="String">
                <value>iexplore.exe</value>
            </setting>
            <setting name="LaunchAlternateForLocalhost" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoBrowserChooser.Properties.Settings>
    </userSettings>
</configuration>